<p>Hello,</p>

<p>Your ToshiTicket account has been created!</p>

<p>Your Public Account Address is: <b>{{addr}}</b></p>

<p>We are currently using the bitcoin testnet for transactions so no real bitcoins are being used. Fund your Account Address above with some test bitcoins at any testnet bitcoin <a href="http://tpfaucet.appspot.com/">faucet</a>.</p>

<p>We have also created a Wallet Address where you will receive bitcoins for tickets you have sold.</p>

<p>Public Wallet Address: <b>{{wallet_addr}}</b></p>

<p>This is your Private Wallet Key: <b>{{wallet_priv}}</b></p>

<p>We do not store or save this private key. So please do not lose it!</p>

<p>Best,</p>

<p>ToshiTicket Team</p>