{% extends "template.html" %}
{% block body %}

<body>
	<center>
    <div class = "container">
    <h1>Artist Events</h1>
    <br>
      <div class = "row">
      	{% for post in posts %}
      		<div class = "col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>{{ post.ticket_name }}</h3>
                <br>
                <a href="/{{post.asset_id}}"><img class="img-responsive" src= {{ post.image }} alt="color qrcode" height="300" width="300"></a>
                <br>
                <br>
                <h4>{{ post.description }}</h4>
                <h4>${{ post.ticket_price }}</h4>
              </div>
              {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
              {% endif %}
            </div>
          </div>
		    {% endfor %}
      </div>
    </div>
  </center>
</body>

{% endblock %}