{% extends "template.html" %}
{% block body %}
<body>
  <!-- Page Content -->
  <div class="container">

      <div class="row">

          <!-- Blog Entries Column -->
          <div class="col-md-8">

              <h2 class="page-header">
                  My Tickets
              </h2>

              {% for a in assets %}

                <!-- Assets  -->
                <h3>
                    Ticket ID: <a href="/{{a}}">{{ a }}</a>
                </h3>
                <h3>Tickets I Own: {{ assets[a] }}</h3>

              {% endfor %}

          </div>

          <!-- Blog Sidebar Widgets Column -->
          <div class="col-md-4">

              <!-- Blog Categories Well -->
              <div class="well">
                  <h4>My Account Address: {{my_address}}</h4>
                  <p>Fund this account with testnet bitcoins <a href="http://tpfaucet.appspot.com/">here</a> to issue tickets.</p>
              </div>

              <!-- Side Widget Well -->
              <div class="well">
                  <h4>My Wallet Address: {{wallet_addr}}</h4>
                  <p>This is where we send your bitcoins for tickets you have sold.</p>
              </div>

          </div>

      </div>
      <!-- /.row -->

  </div>
  <!-- /.container -->
</body>

{% endblock %}