{% extends "template.html" %}
{% block body %}

<body>
	<div class="container">

		<form class="form-horizontal" action="" method="post">
			<fieldset>
			<h1>Transfer Tickets</h1>
			<div class="form-group">
			  <label for="inputImage" class="col-lg-2 control-label">To</label>
			  <div class="col-lg-10">
			    <input type="text" class="form-control" placeholder="To Owner Address" name="to_bitcoin_address" value="{{request.form.to_bitcoin_address}}">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputName" class="col-lg-2 control-label">Ticket ID</label>
			  <div class="col-lg-10">
			    <input type="text" class="form-control" placeholder="Ticket ID" name="asset_id" value="{{request.form.asset_id}}">
			  </div>
			</div>
			<div class="form-group">
			  <label for="inputEmail" class="col-lg-2 control-label">Transfer Amount</label>
			  <div class="col-lg-10">
			    <input type="text" class="form-control" placeholder="Number of Tickets" name="transfer_amount" value="{{request.form.transfer_amount}}">
			  </div>
			</div>
			<div class="form-group">
			  <div class="col-lg-10 col-lg-offset-2">
			    <button type="submit" class="btn btn-custom">Submit</button>
			  </div>
			</div>
			</fieldset>
		</form>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
	</div>


</body>



{% endblock %}